<mat-card style="margin-bottom: 20px;">
    <mat-card-title *ngIf="props.name">
        {{props.name}}
    </mat-card-title>
    <mat-card-content *ngIf="props.description">
        {{props.description}}
    </mat-card-content>
    <mat-form-field class="textarea-full-width">
        <textarea #textarea matInput [(ngModel)]="props.data.Value" (focus)="textarea.value=props.data.Value" (blur)="textarea.value=props.data.String" placeholder="{{props.placeholder}}" cdkTextareaAutosize cdkAutosizeMaxRows="10" required="{{props.slot.Required}}"></textarea>
    </mat-form-field>
    <mat-card-footer *ngIf="props.explanation" class="textarea-explanation">
        {{props.explanation}}
    </mat-card-footer>
</mat-card>
