<mat-card style="margin-bottom: 20px;">
    <mat-checkbox [(ngModel)]="props.checked.Value">
        {{props.name}}
        <span *ngIf="props.slot.Required" style="color: red;">*</span>
    </mat-checkbox>
    <mat-card-footer *ngIf="props.explanation" class="checkbox-explanation">
        {{props.explanation}}
    </mat-card-footer>
</mat-card>
