<mat-card style="margin-bottom: 20px;">
    <mat-card-title *ngIf="props.name">
        {{props.name}}
    </mat-card-title>
    <mat-card-content *ngIf="props.description">
        {{props.description}}
    </mat-card-content>
    <mat-form-field class="dropdown">
        <mat-select placeholder="{{props.placeholder}}" [(ngModel)]="option" required="{{props.slot.Required}}">
            <mat-option *ngFor="let option of props.options" value="{{option.Id}}">
                {{option.Name}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-card-footer *ngIf="props.explanation" class="text-explanation">
        {{props.explanation}}
    </mat-card-footer>
</mat-card>
