<mat-card style="margin-bottom: 20px;">
    <mat-card-title *ngIf="props.name">
        {{props.name}}
    </mat-card-title>
    <mat-card-content *ngIf="props.description">
        {{props.description}}
    </mat-card-content>
    <section class="checkboxes">
        <mat-checkbox *ngFor="let checkbox of props.checkboxes; let i = index" [checked]="checkbox.checked.Value" (click)="clickCheckbox(checkbox,$event)">
            {{checkbox.name}}
        </mat-checkbox>
    </section>
    <mat-card-footer *ngIf="props.explanation" class="checkboxes-explanation">
        {{props.explanation}}
    </mat-card-footer>
</mat-card>
