<section *ngIf="collector">
  <!-- Header -->
  <mat-toolbar color="primary" class="header">
    <mat-icon class="header-logo">chat</mat-icon>
    <span>{{collector.Ontology.Name}}</span>
    <span class="header-fill"></span>
    <span>
      <button mat-button [disabled]="!collector.IsStopped && !collector.IsEnded" (click)="clickStart()">
        Start
      </button>
      <button mat-button [disabled]="!collector.IsRunning" (click)="clickPause()">
        Pause
      </button>
      <button mat-button [disabled]="!collector.IsPaused || !resumeData" (click)="clickResume()">
        Resume
      </button>
      <button mat-button [disabled]="!collector.IsRunning" (click)="clickStop()">
        Stop
      </button>
    </span>
  </mat-toolbar>

  <section class="content">
    <!-- Form -->
    <app-collector-wrapper *ngFor="let node of collector.Nodes" [node]="node" style="margin-bottom: 20px;"></app-collector-wrapper>

    <!-- Form completed -->
    <mat-card *ngIf="collector.IsEnded" style="margin-bottom: 20px;">
      <mat-card-title>
          Form completed!
      </mat-card-title>
      <mat-card-content>
          Open the developer console to see the collected data.
      </mat-card-content>
    </mat-card>

    <!-- Form stopped -->
    <mat-card *ngIf="collector.IsStopped" style="margin-bottom: 20px;">
      <mat-card-title>
          Form is stopped!
      </mat-card-title>
      <mat-card-content>
          Click
      <b>Start</b> to start a new session.
      </mat-card-content>
    </mat-card>

    <!-- Form paused -->
    <mat-card *ngIf="collector.IsPaused" style="margin-bottom: 20px;">
      <mat-card-title>
          Form paused!
      </mat-card-title>
      <mat-card-content>
          Click
      <b>Resume</b> to resume it. Open the developer console to see the resume data.
      </mat-card-content>
    </mat-card>

  <!-- Footer -->
  <mat-toolbar *ngIf="collector.IsRunning" class="footer">
    <mat-toolbar-row>
      <button mat-raised-button color="primary" [disabled]="!collector.Instance.Steps" (click)="clickPrevious()" class="footer-button-left">
        Back
      </button>
      <button mat-raised-button color="accent" [disabled]="collector.IsValidationFailed"
        (click)="clickNext()" class="footer-button-right">
        {{collector.Instance.IsAtEnd ? "Complete" : "Next"}}
      </button>
    </mat-toolbar-row>
    <mat-toolbar-row>
      <mat-progress-bar mode="determinate" [value]="collector.ProgressPercentage"></mat-progress-bar>
    </mat-toolbar-row>
  </mat-toolbar>
</section>
