.header {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 2;
}

.header-logo {
    margin-right: 12px;
}

.header-fill {
    flex: 1 1 auto;
}

.content {
    padding: 10px;
    padding-top: 75px;
    padding-bottom: 125px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 2;
}

.footer-button-left {
    position: absolute;
    left: 16px;
    top: 28px;
}

.footer-button-right {
    position: absolute;
    right: 16px;
    top: 28px;
}
