<mat-card style="margin-bottom: 20px;">
    <mat-card-title *ngIf="props.name">
        {{props.name}}
    </mat-card-title>
    <mat-card-content *ngIf="props.description">
        {{props.description}}
    </mat-card-content>
    <mat-form-field class="number-full-width">
        <input #number type="number" matInput [(ngModel)]="props.data.Value" (focus)="number.value=props.data.Value" (blur)="number.value=props.data.String" placeholder="{{props.placeholder}}" required="{{props.slot.Required}}" />
    </mat-form-field>
    <mat-card-footer *ngIf="props.explanation" class="number-explanation">
        {{props.explanation}}
    </mat-card-footer>
</mat-card>
