<mat-card style="margin-bottom: 20px;">
    <mat-card-title *ngIf="props.name">
        {{props.name}}
    </mat-card-title>
    <mat-card-content *ngIf="props.description">
        {{props.description}}
    </mat-card-content>
    <mat-radio-group class="radio-group">
        <mat-radio-button *ngFor="let button of props.buttons; let i = index" [value]="button.Id" [checked]="button.Id==props.selected.Reference" (change)="updateRadiobutton(i, $event)" class="radio-button">
            {{button.Name}}
        </mat-radio-button>
    </mat-radio-group>
    <mat-card-footer *ngIf="props.explanation" class="radio-explanation">
        {{props.explanation}}
    </mat-card-footer>
</mat-card>
